[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/syrinx2012
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/syrinx2012
	label-Verified = -1..+1 group user/syrinx2012
	push = group user/syrinx2012
	read = group user/syrinx2012
	rebase = group user/syrinx2012
	removeReviewer = group user/syrinx2012
	submit = group user/syrinx2012
[access "refs/heads/*"]
	create = group user/syrinx2012
	push = +force group user/syrinx2012
	pushMerge = group user/syrinx2012
	read = group user/syrinx2012
[access "refs/tags/*"]
	push = group user/syrinx2012
	push = +force group user/syrinx2012
